*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    color:#183a83;
}

#tituloInicio{
  font-size:50px
}

h3{
  
  font-size: 30px;
}
#contenedorGeneral{
  height:100vh
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 3fr ;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    
    "selector selector selector"
    "preview preview cuenta";
    
    
}

.menu {
  justify-self: stretch;
  align-self: stretch;
  grid-area: menu;
  background-color: black;
  display:flex;
  justify-content: center;
align-items: center;}

.selector {
  justify-self: stretch;
  align-self: stretch;
  grid-area: selector;
  background-color: #ef476f;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:230px;
  
}

.cuenta {
  justify-self: stretch;
  align-self: stretch;
  grid-area: cuenta;
  background-color: #06d6a0;
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  
}
.preview {
  /*justify-self: stretch;
  align-self: stretch;*/
  grid-area: preview;
  display:flex;

  background-color: #f8ffe5;
  


}
#api{
  width:30%;
 
}

#previewImg{
  
  background-color: #f8ffe5;
  display:flex;


width:70%;

}

#itemsBandeja{
  margin-left:90px;
  margin-top:50px;
  width:100%;

}


.footer {
  justify-self: stretch;
  align-self: stretch;
  grid-area: footer;
  
  display:flex;
  justify-content: space-around;
align-items: center;
}

.boton{
  width:70px;
  padding:10px;
  border:none;
  border-radius: 8px;
  margin:3px;
  text-align:center;
  z-index: 100;
 
}

button:hover{
  background-color:greenyellow;
}

.sel{
  display:flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.selImg {
  cursor:pointer;
  width:100px;
  height:100px;
  border-radius: 10px;
 
}



.tituloOpciones{
  padding:5px
}

.contenedorOpciones{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img{
  margin:10px;
}

.texto{
  width:100%
}



.oculto{
  display: none;
}

#tablaTotal{
  font-weight: bold;
  font-size: 25px;
}

.imgPreview{
  position:absolute;
    top:220px;
  width:450px
}

h1 {
  padding: 25px;
}

table{
  width:90%;
  
}

tr{
  font-size: 15px;
  padding: 10px;
  height: 20px;
  width: 70px;
  
}

#tablaTotal{
  padding:10px;
  font-size: 15px;
  
}

.wrap{
  border: solid 2px black;
}

#tablaCombos{
  font-size: 25px;
  
}



#superTotalCombos{

  font-weight: bold;
  font-size: 20px;
  padding:5px;
 
}

#tablaCombos{
  
  font-size: 20px;
}

#containerSuperTotalCombos{
  background-color:#1b9aaa;
  display:flex;
  width:50%;
  height:100%;
  flex-direction: column;
  align-items: center;
  color: #ffc43d;
  
  
}

#containerSuperTotalCombos h1 {
 color: #183a83

  
}

#containerTabla h1 {
  color: #183a83;
 text-align: center;
   
 }

#containerTabla{
  display:flex;
  width:50%;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size: ;
}

#previewPedido{

  display: none;
  justify-content: center;
  align-items: center;
  background-color: #1B9AAA;
  
 }

 body{
  background-color: #1B9AAA;
  height:600px;
 }

#tablaPedido{
 
  display: flex;
  justify-content: center;
  align-items: center;
  height:70vh;
  background-image:url("../img/corcho.png") ;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  border:solid 25px rgb(250, 237, 196);
}

.ticketPedido{
  /*background-color:#1b9aaa;*/
  background-image:url("../img/postit.png") ;
  padding:20px;
 /* border:solid;*/
  /*border-radius: 20px;*/
  margin:5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:320px;
  z-index: 0;
  

}

.ticketPedido h2{
  width:100%;
  /*border-bottom: solid;*/
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 30px;
  font-weight: bold;
}
.ticketPedido h3{
  /*border-top: solid;*/
  margin-top: 10px;
}

#containerBoton{
  display: flex;
  justify-content: center;
  gap:30px
  
}

#btnPagar{
  padding:25px;
  width:300px;
  border-radius: 15px;
  border:none;
  background-color: orange;
  border: solid 2px brown;
  font-size: 30px;
  cursor:pointer;
}

#btnPagar:hover{
  background-color: rgb(255, 115, 0);
  color:white;
}

.totalTotalaPagar{
  text-align: center;
  font-size: 30px;
  padding:20px
}

.bin{
  
  cursor:pointer;
  width:25px
}

#totalTablaPedido{
  text-align: center;
}

#totalTablaPedido h3{
  font-size: 30px;
  padding:10px
}

#bandeja{
width:1200px;
position:absolute;
top: 290px;
height: 650px;


}

#logoPedido{
  position:absolute;
  top:0;
  left:0;
  width:250px;
  z-index: 0;
}

#btnCancelar{
  padding:10px;
  width:100px;
  border-radius: 15px;
  border:none;
  background-color: rgb(245, 191, 90);
  border: solid 2px brown;
  font-size: 20px;
  cursor:pointer;
}